#categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.8rem auto;
}

.categories-silver {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  align-items: center;
  justify-content: space-around;
}

.categorie {
  border: 1px solid #e0e0e0;
  height: 380px;
  width: calc(24% - 10px); /* Considerando uma margem de 10px à direita e 10px à esquerda */
  cursor: pointer;
  margin: 10px; /* Espaçamento entre as categorias */
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.categorie:hover {
  transform: scale(1.05); /* Efeito de zoom suave ao passar o mouse */
}

.categorie a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 30px;
  border-radius: 5px;
  color: black;
}
.categorie a:hover .category-name {
  display: block;
  border: none;
}
