@import "var-styles.scss";
header {
    background-color: $light-second-color;
    padding:.8rem 4rem;

    .nav-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .start{
            display: flex;
            justify-content: space-between;
            width: 120px;
            a{ 
                color: $text-color;
                font-size: 1rem;
                font-weight: 500;
                text-decoration: none;
                font-family: 'Outfit', sans-serif;
            }
        }
        .center{
            a img{
                height: 120px;
                width: 120px;
                
            }
        }
        .end{
            display: flex;
            justify-content:space-between;
            width: 100px;
            button{
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                color: $text-color;
            }
        }
    }
    .nav-bot{
        margin-top: 0.8rem;
        .item{
            width: 100%;
            display: flex;
            justify-content: space-between;  
            a{
                color: $text-color;
                font-size: 1rem;
                font-weight: 500;
                text-decoration: none;
            }
        }
       
    }
}