.title {
    border-bottom: 2px solid #333; /* Borda inferior de 2px de espessura na cor #333 */
    padding-bottom: 5px; /* Espaçamento na parte inferior para a borda */
    width: 300px; /* Largura do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 1rem;
    margin-top: 2rem;
}