.sucess{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .card-sucess{
        background-color: #fff;
        border: 1px solid black;
        padding: 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p{
            font-size: 20px;
            font-weight: 600;
        }
        a{
            
            padding: .5rem 3rem;
            border-radius: 10px;
            background-color: #ff4d05;
            font-size: 15px;
            font-weight: 700;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}